{{!< default}}
<!--====================BEGIN category==============-->
<style type="text/css">
	
	#body strong {
		/*color: {{category.color}};*/
	}
	#body a {
		color: {{category.color}};
		opacity: 1;
	}
	#body a:hover, a:active, a:focus {
		color: {{category.color}};
		text-decoration: none;
		opacity: 0.7;
	}
	blockquote:before {
		color: {{category.color}};
	}
	blockquote:after {
		color: {{category.color}};
	}
	figcaption {
		background-color: {{category.color}};
	}

</style>



<div class="container-fluid category body">
	<div class="row">
		
		<section class="main" id="page-header" style="background-image: url({{cloudinaryUrl category.image crop='scale' width=auto height=auto}}); background-size: cover; background-position: center; background-repeat: no-repeat;">
						
					<h1 id="title">{{category.name}}</h1>

		</section>

		<section id="category-intro">
			<div id="intro-facts">
				<ul>
					<li>
						<h1 class="bold">Name</h1>
						{{category.name}}
					</li>
					
					<li>
						<h1 class="bold">Fields</h1>
						{{category.fields}}
					</li>
					
					<li>
						<h1 class="bold">Type of Data</h1>
						{{category.dataType}}
					</li>
					
					<li>
						<h1 class="bold">Related Data Types</h1>
						{{category.related}}
					</li>

				</ul>
			</div>

			<div class="clear">
			</div>

			<div id="intro-sub-header" class="heading right" style="background-color:{{category.color}}">
				{{category.introHeading}}
			</div>

			<div class="clear">
			</div>


			<div id="intro-body">
				{{{category.intro.html}}}
			</div>

			<div class="heading left" style="background-color:{{category.color}}">
				<p>
					{{category.subHeading}}
				</p>
			</div>

		</section>

		<section id="body">
			{{{category.content.html}}}
		</section>

	</div>

</div>
